# Introduction To Python
![alt text](https://cognitiveclass.ai/wp-content/uploads/2016/10/Machine-Learning-with-Python.png)

## Basics Of Python

### Variables In Python

In [0]:
variableName = "KV"
variableInteger = 10
variableFloat = 10.5

In [4]:
type(variableName)

str

In [5]:
type(variableInteger)

int

In [6]:
type(variableFloat)

float

### Print Function In Python

In [7]:
print(variableName)
print(variableInteger)
print(variableFloat)

KV
10
10.5

In [8]:
print("Hello Good Morning All Of You")

Hello Good Morning All Of You

In [9]:
name = "KV"
print("Hello Good Morning !",name)

Hello Good Morning ! KV

### Input Function In Python

In [14]:
value = input("Enter Any Value :- ")

Enter Any Value :- breakfast was yummy

In [16]:
print(value)

breakfast was yummy

In [17]:
number = int(input("Enter Your Number :- "))
print(number)

Enter Your Number :- 10
10

## Operators In Python

### 1). Arithmetic Operators
### 2). Comparison (Relational) Operators
### 3). Assignment Operators
### 4). Logical Operators
### 5). Bitwise Operators
### 6). Membership Operators
### 7). Identity Operators

In [19]:
# Arithmetic Operations
print(10+15)

25

In [20]:
# Comparision Operators
print(10>15)

False

In [21]:
# Assignment Operators
value = 10
print(value)

10

In [22]:
# Logical Operators
print(10>15 and 11>15)

False

In [23]:
name = "Vikram"
print("V" in name)

True

In [28]:
name1 = "Vikram" # Capital V
name2 = "vikram" # Small V

print(name1 is name2)

False

## Conditional Statement

### Programme To Find Positive, Negative And Zeros From The Given Input Using Conditional Statement

In [29]:
n = int(input("Enter Any Number :- "))

if(n>0):
  print("Number Is Positive")
elif(n<0):
  print("Number Is Negative")
else:
  print("Number Is Zero")

Enter Any Number :- 10
Number Is Positive

## Loops In Python

### 1). For Loop
### 2). While Loop

In [30]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [32]:
number = 0
while(number != 10):
  print(number)
  number = number + 1

0
1
2
3
4
5
6
7
8
9

### Pattern Printing Using For Loop

In [37]:
for i in range(1,10):
  for j in range(1,i):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7
1 2 3 4 5 6 7 8

In [38]:
for i in range(1,10):
  for j in range(1,i):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *

## Python Common Data Structures

List​

Tuples​

Sets​

Dictionary​

In [39]:
# list 
List = [1,2,3,4]
print(List)

[1, 2, 3, 4]

In [40]:
tuples = (1,2,3,4)
print(tuples)

(1, 2, 3, 4)

In [41]:
sets = {1,2,1,2}
print(sets)

{1, 2}

In [46]:
dictionary = {"Name":"Vikram","age":10}
print(dictionary)
print(dictionary.get('Name'))
print(dictionary.get('age'))

{'Name': 'Vikram', 'age': 10}
Vikram
10

## Functions In Python

In [47]:
def firstFunction():
  print("Hello I am Function")
  
firstFunction()

Hello I am Function

In [48]:
def secondFunction(name):
  print("Hello",name)
  
secondFunction("Vikram")

Hello Vikram

## Exercise :- Make A Simple Calculator

In [49]:
def add(x, y):
   return x + y

# This function subtracts two numbers 
def subtract(x, y):
   return x - y

# This function multiplies two numbers
def multiply(x, y):
   return x * y

# This function divides two numbers
def divide(x, y):
   return x / y

print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")

# Take input from the user 
choice = input("Enter choice(1/2/3/4):")

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))

if choice == '1':
   print(num1,"+",num2,"=", add(num1,num2))

elif choice == '2':
   print(num1,"-",num2,"=", subtract(num1,num2))

elif choice == '3':
   print(num1,"*",num2,"=", multiply(num1,num2))

elif choice == '4':
   print(num1,"/",num2,"=", divide(num1,num2))
else:
   print("Invalid input")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4):1
Enter first number: 5
Enter second number: 10
5 + 10 = 15